<span class="portal-top-menu">
	<div><img src="images/menu.png" width="40px" height="40px"></div>
</span>
<span class="portal-top-left">
	<div class="portal-top-text">The role of microRNAs in the onset of Parkinson Disease</div>
</span>
<span class="portal-top-right">
	<img src="images/user.png" width="32px" height="32px">
</span>
<span class="portal-top-right">
	<div class="portal-top-text">victoria</div>
</span>
<a href="?cmd=logout">
	<span class="portal-top-right">
		<img src="images/settings.png" width="32px" height="32px">
	</span>
</a>
