<div class="footer-table">
	<div class="footer-column"><div class="footer-column-icon"></div><img src="images/linkTwitter.png"></div></div>
	<div class="footer-column"><div class="footer-column-icon"><img src="images/linkInstagram.png"></div></div>
	<div class="footer-column"><div class="footer-column-icon"><img src="images/linkDropbox.png"></div></div>
	<div class="footer-column"><div class="footer-column-icon"><img src="images/linkWiFi.png"></div></div>
	<div class="footer-column"><div class="footer-column-icon"><img src="images/linkLinkedIn.png"></div></div>
</div>