<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ReElement Demo 1.0</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="templates/styles.css" />
    
     <script src="https://cdnjs.cloudflare.com/ajax/libs/cldrjs/0.4.4/cldr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cldrjs/0.4.4/cldr/event.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cldrjs/0.4.4/cldr/supplemental.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cldrjs/0.4.4/cldr/unresolved.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/globalize/1.1.1/globalize.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/globalize/1.1.1/globalize/message.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/globalize/1.1.1/globalize/number.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/globalize/1.1.1/globalize/currency.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/globalize/1.1.1/globalize/date.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/18.2.3/css/dx.common.css" />
    <link rel="dx-theme" data-theme="generic.light" href="https://cdn3.devexpress.com/jslib/18.2.3/css/dx.light.css" />
    <script src="https://cdn3.devexpress.com/jslib/18.2.3/js/dx.all.js"></script>
    
    
</head>
<body>
<div id="app-home"> 
	<div id="app-home-header">{APP-HOME-HEADER}</div>
	<div id="app-home-mid"> 
		<div id="app-home-navig">{APP-HOME-NAVIG}</div>
		<div id="app-home-content">
			<div id="app-home-messages">{APP-HOME-MESSAGES}</div>
			<div id="app-home-dynamic">{APP-HOME-DYNAMIC}</div>
			<div id="app-home-canvas-2">{APP-HOME-CANVAS-2}</div>
		</div>
	</div>
	<div id="app-home-footer">{APP-HOME-FOOTER}</div>
</div>

<script>

 $(document).ready( onLoad() );

 /*{SCRIPT-REGISTER}*/

 

function onLoad(){
	/*{SCRIPT-ON-LOAD}*/
	 
 }

</script>
</body>

</html>