<div onClick="menuclick('menu001','app-home-canvas','notes');">
	<div id="menu001" class="app-icon">
	<span  class="app-icon-span"><div class="app-combo"><img src="images/notes.png" width="36" height="36"><br>Notes</div></span>
</div></div>
<div onClick="menuclick('menu002','app-home-canvas','acticles');">
	<div  id="menu002"  class="app-icon">
	<span  class="app-icon-span"><div class="app-combo"><img src="images/articles.png" width="36" height="36"><br>Articles</div></span>
</div></div>
<div onClick="menuclick('menu003','app-home-canvas','genes');">
	<div  id="menu003"  class="app-icon">
	<span  class="app-icon-span"><div class="app-combo"><img src="images/genes.png" width="36" height="36"><br>Genes</div></span>
</div></div>